body {
    margin: 0px;
    padding: 0px;
    top: 0;
    overflow-y: scroll;
    background: #000;
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
